html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.5rem;
}

/* header - desktop */

.header {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  margin-left: 1.5rem;
}

.logo h3 {
  text-transform: uppercase;
}

.header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 1.5rem;
}

.header li {
  padding-left: 1rem;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
}

/* Content 1 */

.learn {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  align-items: center;
}

.learn img {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem 2rem 0;
}

.learn .text {
  margin-right: 10%;
}

#button h4 {
  color: white;
  background-color: gray;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
}
